* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(34 40 49);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 39px;
}

h3 {
    font-size: 31px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

li, a, button {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(255, 211, 105);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}